@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,400&display=swap');

$color-accent: #42aab0;
$color-black: #212121;
$color-white: #ffffff;
$color-light-grey: #efefef;

$font-family: "Open Sans", arial, sans-serif;