@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

$color-green: #42aab0;
$color-black: #212121;
$color-white: #ffffff;
$color-light-grey: #efefef;

$font-family: ;